<div class="row">
    <div class="col-xs-12">
        <div *ngIf="isLoading">
            <app-spinner></app-spinner>
        </div>
        <div class="alert alert-danger" *ngIf="error!=null">
            <p>{{error}}</p>
        </div>
    </div>
</div>
<div class="row" *ngIf="!isLoading">
    <div class="col-xs-10">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="email" 
                class="form-control" 
                id="username"
                name="username"
                ngModel
                email
                required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password"
                 class="form-control" 
                 id="password" 
                 name="password"
                 ngModel
                 required
                 minlength="6">
            </div>
            <button 
            type="submit" 
            class="btn btn-primary"
            [disabled]="!authForm.valid"
            >
            {{isLoginMode ? 'Login' : 'Sign-Up'}}
            </button>|
            <button type="button" class="btn btn-primary" (click)="onSwitchMode()">Switch To {{ isLoginMode ? 'Sign-Up' : 'Login'}}</button>
        </form>
    <div>
        
</div>